/* ---------------------------------------- */
/* ==            SOMMAIRE              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */



/* ---------------------------------------- */
/* ==       CODES COULEURS           */
/*---------------------------------------- */
/*

Background (light grey) : #F2F2F2
Background button (purple) : #9356DC
Background Footer (drak grey) : #424242
Icon "Fonctionnement" (grey) : #6e6e6e
Box-shadow : #e0e0e0


/*------------------------------------------*/
/*==		RÉGLAGES MOBILES		*/
/*------------------------------------------*/

/*------------------------------*/
/*          HOME PAGE           */
/*------------------------------*/

body{
    font-family: "roboto", arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

a{
    color: #000000;
    text-decoration: none;
}

strong{
    font-size: 1.2em;
}

.title, h1, h2, strong{
    letter-spacing: -0.7px;
}

h2{
    margin: 1em;
}

/*--------------------------*/
/*        HEADER            */
/*--------------------------*/

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    padding: 0.5em;
    width: 12em;
    margin: auto;
}

.fas.fa-map-marker-alt{
    display: flex;
    align-items: center;
    margin-left: 5em;
    margin-right: 0.2em;
}

form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search{
    border: 0px solid transparent;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
}

.search, form{
    box-shadow: inset 0 2px 0 0;
    background-color:#e0e0e0;
}

.presentation{
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 5em;
    width: 100%;
}

.title{
    margin: 1em 2em 0 2em;
    font-size: 1.8em;
}

.subtitle{
    margin: 2em;
    margin-top: 0;
}

.btn_purple{
    border-radius: 50px;
    padding: 1em 1.5em 1em 1.5em;
    background: linear-gradient(to bottom right, #FF79DA,#9356DC);
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #e0e0e0;
    transition: box-shadow 0.2s, opacity 0.5s;
}

.btn_purple:hover{
    opacity: 0.8;
    box-shadow: 10px 10px 5px #e0e0e0;
}

/*-------------------------*/
/*           NAV           */
/*-------------------------*/

nav{
    display: flex;
    flex-direction: column;
}

nav h1{
    margin-left: 1em;
}

.number{
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background-color: #9356DC;
    color: #FFFFFF;
    width: 1em;
    height: 1em;
    padding: 0.2em;
    position: absolute;
    left: -0.7em;
}

.btn_nav{
    position: relative;
    display: flex;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 7px #e0e0e0 ;
    border-radius: 15px;
    padding: 1.7em;
    padding-left: 0.5em;
    color: #000000;
    font-weight: bold;
    width: 80%;
    margin-bottom: 1em;
}

.fas.fa-mobile-alt, .fas.fa-list-ul, .fas.fa-store{
    display: flex;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #6e6e6e;
}

/*-------------------------------*/
/*          RESTAURANTS          */
/*-------------------------------*/

.bloc_restaurant{
    background-color: #F2F2F2;
    padding: 2em;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    position: relative;

    border-radius: 15px;
    box-shadow: 5px 5px 5px #e0e0e0;
    color: #000000;
    background-color: #FFFFFF;
    overflow: hidden;

    margin-bottom: 1.5em;
}

.box--restaurant{
    width: 100%;
}

.img__restaurant{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.new{
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #99E2D0;
    color: #2b8a6f;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
    border-radius: 2px;
}

.restaurant_name{
    padding-left: 1em;
}

.heart--empty, .heart--full{
    position: absolute;
    font-size: 1.7em;
    right: 1em;
    bottom: 1em;
}

.heart--full, .heart__menu--full{
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart--full:hover, .heart__menu--full:hover{
    opacity: 1;
}

/*--------------------------*/
/*          FOOTER          */
/*--------------------------*/

footer{
    padding: 2em;
    padding-top: 0.5em;
    background-color: #424242;
}

.logo__footer{
    font-family: "Shrikhand", arial, sans-serif;
    color: #FFFFFF;
    font-size: 1.2em;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding-bottom: 0.5em;
}

.foot, .fas.fa-utensils, .fas.fa-hands-helping{
    padding-right: 0.5em;
    color: #FFFFFF;
}

.fas.fa-hands-helping{
    font-size: 0.75em;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*---------------------------------------*/
/*             INDEX2.HTML               */
/*---------------------------------------*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*----------------------------------*/
/*              HEADER              */
/*----------------------------------*/

.head__menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.return{
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-right: auto;
}

/*---------------------------------*/
/*             MENU                */
/*---------------------------------*/

.img__menu{
    width: 100%;
    object-fit: cover;
    height: 300px;
}


.bloc__menu{
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #F2F2F2;
    margin-top: -3em;
}

.card{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.enter__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurant__title{
    font-family: "Shrikhand", arial, sans-serif;
    font-size: 1.5em;
}

.heart__menu{
    font-size: 2em;
    position: relative;
    display: flex;
    align-items: center;
}

.heart__menu--empty, .heart__menu--full{
    position: absolute;
    right: 1em;
}

.menu__title{
    margin-left: 0.2em;
    margin-bottom: 0.5em;
}

.underline{
    width: 2.5em;
    padding-bottom: 1em;
    margin-left: 0.3em;
    border-top: 4px solid #99E2D0;
}

.card__part{
    display: flex;
    flex-direction: column;
}

.box--entree, .box--plat, .box--dessert{
    animation: fade-in 1.5s;
    animation-fill-mode: both;
}

.box--plat{
    animation-delay: 0.5s;
}

.box--dessert{
    animation-delay: 1s;
}

@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateY(2em);
    }

    to{
        opacity: 1;
    }
}

.card__box{
    display: flex;
    justify-content: space-between;
}

.card__title{
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__box--coche{
    display: flex;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em;
    font-weight: bold;
    transition: transform 0.5s;
}


.coche{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #99E2D0;
    transition: width 0.5s;
    width: 0px;
}

.box:hover .coche{
    width: 50px;
}

.fas.fa-check-circle{
    transform: rotate(180deg);
    transition: transform 0.7s;
}

.box:hover .fas.fa-check-circle{
    transform: rotate(0deg);
}

.commander{
    display: flex;
    justify-content: center;
    margin: 2em;
    margin-bottom: 3em;
}

.btn_menu{
    padding-left: 3.5em;
    padding-right: 3.5em;
}

/*----------------------------------*/
/*          SPIN-LOADER             */
/*----------------------------------*/

.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #424242;
    opacity: 0.9;
    animation: loader;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes loader{
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.spin{
    font-family: "Shrikhand", arial, sans-serif;
    font-size: 3em;
    animation: bounce 1.3s ease-in alternate-reverse 3;
    animation-fill-mode: forwards;
}

.o, .h{
    color: #99E2D0;
}

.m, .y{
    color: #FF79DA;
}

.f, .-o, .-oo, .d{
    color: #9356DC;
}

.h{
    animation-delay: 0.1s;
}

.m{
    animation-delay: 0.2s;
}

.y{
    animation-delay: 0.3s;
}

.f{
    animation-delay: 0.4s;
}

.-o{
    animation-delay: 0.5s;
}

.-oo{
    animation-delay: 0.6s;
}

.d{
    animation-delay: 0.7s;
}

@keyframes bounce{
    0%{
        transform: translateZ(1em);
        transform: perspective(300px);
        opacity: 0;
    }
    25%{
        transform: translateZ(5em);
        opacity: 1;
    }
    
    40%{
        transform: translateY(0.5em);
    }

    100%{
        opacity: 0;
    }
}

/*---------------------------------------------*/
/*==		OPTIMISATION POUR TABLETTES 	*/
/*          MIN-WIDTH : 760px       */ 
/*--------------------------------------------*/

@media only screen and (min-width:760px){

    ol{
        display: flex;
        flex-direction: row;
    }

    .btn_nav{
        margin-right: 2em;
    }

    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box--restaurant{
        width: 45%;
        margin: auto;
        margin-bottom: 3em;
    }

    .box--entree, .box--plat, .box--dessert{
        width: 95%;
    }
}

/*---------------------------------------------*/
/*==		OPTIMISATION DESKTOP   	*/
/*          MIN-WIDTH : 1024px       */ 
/*--------------------------------------------*/

@media only screen and (min-width:1024px){
    
    .restaurant__card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}