/* ---------------------------------------- */
/* ==            SOMMAIRE              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */



/* ---------------------------------------- */
/* ==       CODES COULEURS           */
/*---------------------------------------- */
/*

Background (light grey) : #F2F2F2
Background button (purple) : #9356DC
Background Footer (drak grey) : #424242
Icon "Fonctionnement" (grey) : #6e6e6e
Box-shadow : #e0e0e0


/*------------------------------------------*/
/*==		RÉGLAGES MOBILES		*/
/*------------------------------------------*/

/*------------------------------*/
/*          HOME PAGE           */
/*------------------------------*/

body{
    margin: 0;
}

main{
    font-family: "roboto", arial, sans-serif;
    font-size: 16px;
}

a{
    color: #000000;
    text-decoration: none;
}

strong{
    font-size: 1.2em;
}

.title, h1, strong{
    letter-spacing: -0.7px;
}

/*--------------------------*/
/*        HEADER            */
/*--------------------------*/

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__header{
    padding: 0.5em;
    width: 12em;
}

.fas.fa-map-marker-alt{
    display: flex;
    align-items: center;
    margin-left: 5em;
    margin-right: 0.2em;
}

.search, form{
    box-shadow: inset 0 2px 0 0;
    background-color:#e0e0e0;
}

form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search{
    border: 0px solid transparent;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
}

.presentation{
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 5em;
}

.title{
    margin: 1em 2em 0 2em;
}

.subtitle{
    font-size: 1.3em;
    margin: 2em;
    margin-top: 0;
}

.btn_purple{
    border-radius: 50px;
    padding: 1em 1.5em 1em 1.5em;
    background: linear-gradient(to bottom right, #FF79DA,#9356DC);
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #e0e0e0;
    transition: box-shadow 0.2s;
}

.btn_purple:hover{
    background: linear-gradient(to bottom right, #ff91e0, #975fdb);
    box-shadow: 10px 10px 5px #e0e0e0;
}

/*-------------------------*/
/*           NAV           */
/*-------------------------*/

nav{
    display: flex;
    flex-direction: column;
    margin: 2em 0 3em 2em;
    position: relative;
}

.btn{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}    

.number{
    display: flex;
    justify-content: center;

    border: 0px solid transparent;
    border-radius: 100px;
    width: 1em;
    height: 1em;
    padding: 0.2em;
    background-color: #9356DC;
    color: #FFFFFF;

    position: absolute;
    left: -0.5em;
}

.fas.fa-mobile-alt, .fas.fa-list-ul, .fas.fa-store{
    padding-right: 0.4em;
    color: #6e6e6e;
}

.btn_nav{
    display: flex;
    border: 0px solid transparent;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 7px #e0e0e0 ;
    border-radius: 15px;
    padding: 1.7em;
    color: #000000;
    width: 80%;
    font-weight: bold;
}

.icon{
    display: flex;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*-------------------------------*/
/*          RESTAURANTS          */
/*-------------------------------*/

.bloc_restaurant{
    background-color: #F2F2F2;
    padding: 2em;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    position: relative;

    border: 0px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e0e0e0;
    color: #000000;
    background-color: #FFFFFF;
    overflow: hidden;

    margin-bottom: 1.5em;
}

.img_restaurant{
    border: 0px solid transparent;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.new{
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #99E2D0;
    color: #2b8a6f;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
    border-radius: 2px;
}

.restaurant_name{
    padding-left: 1em;
}

.heart--empty{
    position: absolute;
    font-size: 1.5em;
    right: 1em;
    bottom: 1em;
}


/*--------------------------*/
/*          FOOTER          */
/*--------------------------*/

footer{
    padding: 2em;
    padding-top: 0.5em;
    background-color: #424242;
}

.logo__footer{
    font-family: "Shrikhand", arial, sans-serif;
    color: #FFFFFF;
    font-size: 1.2em;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding-bottom: 0.5em;
}

.foot, .fas.fa-utensils, .fas.fa-hands-helping{
    padding-right: 0.5em;
    color: #FFFFFF;
}

.fas.fa-hands-helping{
    font-size: 0.75em;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*---------------------------------------*/
/*             INDEX2.HTML               */
/*---------------------------------------*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*----------------------------------*/
/*              HEADER              */
/*----------------------------------*/

.head_menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.return{
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.logo_menu{
    padding: 0.5em;
    width: 11em;
}

/*---------------------------------*/
/*             MENU                */
/*---------------------------------*/

.bloc_menu{
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #F2F2F2;
    margin-top: -3em;
}


.img_menu{
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.enter__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_entree, .box_plat, .box_dessert{
    animation: fadein 1.5s;
}

.box_plat{
    animation-delay: 0.5s;
}

.box_dessert{
    animation-delay: 1s;
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(2em);
    }

    to{
        opacity: 1;
    }
}

.restaurant_title{
    font-family: "Shrikhand", arial, sans-serif;
    font-size: 1.5em;
}

.heart__menu--empty{
    font-size: 2em;
    position: relative;
    display: flex;
    align-items: center;
}

.coeur__vide, .coeur__plein{
    position: absolute;
    right: 1em;
}

.coeur__plein{
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
}

.heart__menu--empty:hover .coeur__plein{
    opacity: 1;
    transition: color linear-gradient(to bottom right, #FF79DA,#9356DC);;
}

.card_title{
    padding-left: 1em;
}

.card__box{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.card__box--coche{
    display: flex;
    position: absolute;
    right: -4em;
    height: 100%;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em;
    font-weight: bold;
    transition: transform 0.5s;
}

.box:hover .price{
    transform: translate(-4em)
}

.coche{
    display: flex;
    align-items: center;
    padding: 1.5em;
    color: #FFFFFF;
    background-color: #99E2D0;
    transition: transform 0.5s;
}

.box:hover .coche{
    transform: translate(-4em);
}

.fas.fa-check-circle{
    transform: rotate(180deg);
    transition: transform 0.7s;
}

.box:hover .fas.fa-check-circle{
    transform: rotate(0deg);
}

.menu_title{
    margin-left: 0.2em;
    margin-bottom: 0.5em;
}

.underline{
    width: 2.5em;
    padding-bottom: 1em;
    margin-left: 0.3em;
    border-top: 4px solid #99E2D0;
}

.commander{
    display: flex;
    justify-content: center;
    margin: 2em;
    margin-bottom: 3em;
}

.btn_menu{
    padding-left: 3.5em;
    padding-right: 3.5em;
}

/*---------------------------------------------*/
/*==		OPTIMISATION POUR GRANDS ÉCRANS 	*/ 
/*--------------------------------------------*/


/*@media only screen and (min-width:640px){


}*/